<mat-nav-list>
  @for (item of menuItems$ | async; track item.id) {
    <mat-list-item 
      [routerLink]="item.route"
      routerLinkActive="active-link"
      [matTooltip]="!isExpanded ? item.label : ''"
      [attr.i18n-matTooltip]="'@@sidenav.' + item.id + '.tooltip'"
      matTooltipPosition="after"
    >
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      @if (isExpanded) {
        <span matListItemTitle [attr.i18n]="'@@sidenav.' + item.id + '.label'">{{ item.label }}</span>
      }
    </mat-list-item>
  }
  
  <mat-divider></mat-divider>
  
</mat-nav-list>