# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env
.env.*

# AdonisJS
.tmp/
build/
public/build/
database/*.sqlite
database/*.sqlite3
ace-manifest.json

# Angular
/dist/
/out-tsc/
/coverage/
.angular/
.angular-cache/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project



flat-backend*
frontend-flat
*end.sh
