<div class="admin-layout-container">
  <app-admin-navbar (toggleSidenav)="toggleSidenav()"></app-admin-navbar>
  
  <mat-sidenav-container class="admin-sidenav-container">
    <mat-sidenav 
      #sidenav 
      mode="side" 
      opened="true" 
      [style.width]="sidenavWidth()"
      class="admin-sidenav"
    >
      <app-sidenav [isExpanded]="isExpanded()"></app-sidenav>
    </mat-sidenav>
    
    <mat-sidenav-content [style.margin-left]="sidenavWidth()">
      <div class="content-wrapper">
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>