<footer class="marketplace-footer">
  <div class="footer-content">
    <div class="footer-column">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Categories</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Customer Service</h4>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Returns</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Connect With Us</h4>
      <div class="social-icons">
        <a href="#" class="social-icon">
          <mat-icon>facebook</mat-icon>
        </a>
        <a href="#" class="social-icon">
          <mat-icon>twitter</mat-icon>
        </a>
        <a href="#" class="social-icon">
          <mat-icon>instagram</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2024 JEFJEL. All Rights Reserved.
  </div>
</footer>